.container
    .card_top
        %h2.section-top= @task.title
        .card_detail_actions
            .dropdown
                = image_tag 'actions.svg', class: 'dropbtn'
                .dropdown-content.mini
                    = link_to 'Delete', board_task_path(@task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .board
        .board_cotent
            = @task.content