@import 'variable';
@import 'form';
@import 'card';
@import 'common';
@import 'board';
@import 'flash';
@import 'comments';
html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  .container {
    padding: 33px 26px;
    width: 100%;
  }

  h1,h2,h3,p {
    color: #000000;
  }
  a {
      font-style: normal;
      text-decoration: none;
      color: #000000;
  }
  a:hover{
    color : #ff7043;
  }
  .float_btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    text-align: center;
    background-color: $primary-color;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    i {
      margin-top: 22px;
    }
  }
.top {
  width: 100%;
  border-bottom: 1px solid #C0C0C0;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  &_title {
    font-size: 18px;
    font-family: normal;
    font-weight: 400;
    line-height: 24.5px;
    display: inline-block;
    padding: 10px 0;
  }
}
  
.user_image {
  border-radius: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 15px;
}


.section-top {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 33px;
}