@import 'variable';

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    font-weight: normal;
    display: none;
    right: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  
    &.mini {
      min-width: 130px;
    }
  }

  .dropdown-content a {
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    color: $text-base-color;
}
  
  .dropdown-content a:hover {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
    border: 1px solid #F4F4F4;
  }
  
  