@import 'variable';
input, select {
  margin: auto;
    &.text {
      max-width: 100%;
      width: 100%;
      height: auto;
      margin: 14px auto;
      padding: 16px 24px;
      border: 1px solid #EBEBEB;
      border-radius: 10px;
      background-color: #F4F4F4;
    }
  }
  
  label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
  
  textarea {
    max-width: 100%;
    width: 100%;
    height: 200px;
    margin: 8px 0px;
    padding: 8px 8px;
    resize: vertical;
    border: 1px solid #EBEBEB;
    background-color: #F4F4F4;
    border-radius: 10px;
  }
  .year,.month,.day{
    text-align: center;
    font-style: 12px;
    margin: 10px;
    padding: 10px;
  }
  .btn-primary {
    max-width: 100%;
    width: 100%;
    height: 40px;
    margin-top: 100px;
    background: #F8BD1C;
    border-radius: 4px;
    color: white;
    border: none;
  }
  #task_eyecatch {
    margin-bottom: 20px;
  }